<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-3">
        <div class="plant-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
          <%= link_to plant.name, plant_path(plant) %>
          <%= link_to "x", plant_path(plant), method: :delete, class: "card-remove-link"  %>
        </div>
      </div>
    <% end %>
    <div class="col-3">
      <%= link_to "Add plant", new_garden_plant_path(@garden) %>
    </div>
  </div>
</div>
