<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @plant.garden.banner_url %>);">
  <div class="container">
    <h1><%= @plant.garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="plant-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @plant.image_url %>)">
        <%= @plant.name %>
      </div>
      <ul>
        <% @plant.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= simple_form_for [@plant, PlantTag.new] do |f| %>
  <%= f.association :tag %>
  <%= f.submit "Tag this plant!" %>
<% end %>
